[submodule "vendor/themes/twilight-emacs"]
	path = vendor/themes/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/philjackson/magit.git
[submodule "vendor/clj-mode"]
	path = vendor/clj-mode
	url = http://github.com/technomancy/clojure-mode.git
[submodule "vendor/boinkor-slime"]
	path = vendor/boinkor-slime
	url = git://git.boinkor.net/slime.git
[submodule "vendor/mk-project"]
	path = vendor/mk-project
	url = http://github.com/mattkeller/mk-project.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = http://github.com/emacsmirror/nxhtml.git
[submodule "vendor/twitter"]
	path = vendor/twitter
	url = git://github.com/hayamiz/twittering-mode.git
