[submodule "vendor/themes/twilight-emacs"]
	path = vendor/themes/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/philjackson/magit.git
