;; copy bin/emacs.mac and chmod 755 if needed
bin/emacs

;; recovery files
.\#*

;; compiled elips
*.elc

;; emacs directories specific to an instance
auto-save-list/
backups/
eshell/
auto-save/
network-security.data
projectile-bookmarks.eld
elpa/archives/
elpa/gnupg/
mastering-emacs-v2.pdf
.cache/
workspace/
eclipse.jdt.ls/server/config_linux/org.eclipse.osgi/.manager
eclipse.jdt.ls/server/config_linux/org.eclipse.core.runtime/.manager
eclipse.jdt.ls/server/config_linux/org.eclipse.equinox.app/.manager
eclipse.jdt.ls/server/config_mac/org.eclipse.osgi/.manager
eclipse.jdt.ls/server/config_mac/org.eclipse.core.runtime/.manager
eclipse.jdt.ls/server/config_mac/org.eclipse.equinox.app/.manager

;; lsp servers
lsp-servers/
