private
#  recovery files
.\#*

#  compiled elips
*.elc

#  emacs directories specific to an instance
# auto-save-list/
# backups/
# eshell/
# auto-save/
# .cache/
# abbrev_defs
# bookmarks
# semanticdb
# history
# ido.last
# session.*
# recentf
# ac-comphist.dat
