[submodule "vendor/themes/twilight-emacs"]
	path = vendor/themes/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/philjackson/magit.git
[submodule "vendor/clj-mode"]
	path = vendor/clj-mode
	url = http://github.com/technomancy/clojure-mode.git
[submodule "vendor/boinkor-slime"]
	path = vendor/boinkor-slime
	url = git://git.boinkor.net/slime.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = http://github.com/emacsmirror/nxhtml.git
[submodule "vendor/twitter"]
	path = vendor/twitter
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "vendor/themes/tangotango"]
	path = vendor/themes/tangotango
	url = http://github.com/juba/color-theme-tangotango.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/emac-git"]
	path = vendor/emac-git
	url = https://github.com/tsgates/git-emacs.git
